.wrapper {
  padding: 20px;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.lesson {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coin {
  border: 1px solid black;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
