:root {
  --primary-clr: #ffffff;
  --secondary-clr: #000000;
  --success-clr: #35de46;
  --success-h-clr: #27cf38;
  --info-clr: #155fbf;
  --info-h-clr: #216dd1;
  --danger-clr: #ea6767;
  --danger-h-clr: #db5b5b;
  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111827;
}
/* general style */

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-clr);
}
